.main {

}

img{
  display: block;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  align: left;
  padding:20px;
  z-index: -1;
}

body{
  background-color: #444;
  font-family: Arial;
  color: white;
}

.laurified{
  font-size: 0.25em;
}

.images{
  position: relative;
  left: 0;
  right: 0;
}

.over{
  position:absolute;
  left:0;
  right:0;
}

body.morganified{
  background-color: #ff9900;
  color: #ff6600;
}

.imgmorganify{
  top: 0px;
  opacity: 0.75;
}

.imgjoshify{
  border-radius: 0%;
  top: 225px;
  width: 250px;
  height: 200px;
}

body.laurified > #app > gibbins > div > img{
  height: 75px;
  width: 75px;
}

body.laurified > #app > gibbins > div > .imgjoshify{
  top:60px;
  width: 95px;
}

h1{
  text-align: center;
}

label{
  white-space: nowrap;
}

input{
  white-space: nowrap;
  margin-right: 10px;
}

button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

#app{
  stroke: black 1px;
}

select{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.controls{
  margin-top: 5px;
  background-color: rgba(150, 150, 150, 0.6);
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}